.home .hero img
  max-width 80vw

.gold-sponsor,
.silver-sponsor,
.bronze-sponsor
  margin 0 20px

.gold-sponsor
  max-width 300px !important

.silver-sponsor
  max-width 200px !important

.bronze-sponsor
  max-width 100px !important
  max-height 50px !important
